@import "tailwindcss";

@theme {
   --color-background: #09090b;
   --color-foreground: #fafafa;
   --color-primary: #dc2626;
   --color-secondary: #0a0a0a;
   --color-border: #262626;
}

@layer utilities {
   body {
      @apply bg-background text-foreground;
   }
}
